$logo-color: #272B2F;
$searchbar-color: #494e53;
$signout-color: #343a3f;
$sidebar-color: #F8F9FA;
$default-background-color: #ffffff;
$default-blue: #007bff;
$light-border-color: #e3e3e3;

.contain-listings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $default-background-color;
    overflow: hidden;

    .contain-navbar {
        display: flex;
        flex-shrink: 0;
        background-color: #3f3f3f;
        height: 50px;
        width: 100%;
        overflow: hidden;

        .navbar-logo {
            display: flex;
            background-color: #272b2f;
            width: 20%;
            min-width: 150px;
            height: 100%;
            color: white;
            justify-content: left;
            align-items: center;
            padding: 0px 20px 0px 20px;
            overflow: hidden;
        }

        .searchbar {
            display: flex;
            flex-grow: 1;
            overflow: hidden;

            input {
                flex-grow: 1;
                border: none;
                padding: 0px 10px 0px 10px;
                outline: none;
                background-color: #494e53;
                color: white;
                overflow: hidden;
            }
        }

        .signout-button {
            display: flex;
            padding: 10px;
            background-color: #343a3f;
            color: #999d9f;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }

    .contain-body {
        display: flex;
        flex-direction: row;
        background-color: $default-background-color;
        width: 100%;
        flex-grow: 1;
        overflow: hidden;

        .contain-sidebar {
            background-color: $sidebar-color;
            min-width: 150px;
            width: 20%;
            height: 100%;
            border-right: solid $light-border-color 1px;
            overflow: hidden;
            flex-shrink: 0;

            #current-selection {
                color: $default-blue;
                overflow: hidden;
            }

            .sidebar-select {
                display: flex;
                background-color: transparent;
                width: 100%;
                height: 30px;
                padding: 0px 15px 0px 15px;
                justify-content: left;
                align-items: center;
                cursor: pointer;
                overflow: hidden;

                .select-icon {
                    display: flex;
                    aspect-ratio: 1 / 1;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                }

                .select-name {
                    font-weight: bold;
                    overflow: hidden;
                }
            }
        }

        .contain-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 100%;
            overflow: hidden;

            .contain-table {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                overflow: hidden;

                .contain-tableheader {
                    display: flex;
                    flex-direction: row;
                    background-color: #666666;
                    width: 100%;
                    overflow: hidden;
                    flex-shrink: 0;

                    .pagination-component {
                        display: inline-block;
                        margin: 5px;

                        .header {
                            display: flex;
                            font-size: 12px;
                            color: white;
                            justify-content: left;
                        }

                        .body {
                            display: flex;
                            flex-direction: row;
                            background-color: white;
                            overflow: hidden;

                            .pagination-button {
                                background-color: #007bff;
                                color: white;
                                border: none;
                                cursor: pointer;
                                font-size: 12px;
                                flex-grow: 1;
                            }

                            .pagination-button:hover {
                                box-shadow: 0 0 11px rgba(10,10,10,.2);
                            }

                            .page-number {
                                display: flex;
                                background-color: white;
                                color: black;
                                font-size: 12px;
                                margin: 0 10px;
                                justify-content: center;
                                align-items: center;
                            }       
                        }
                    }

                    .icon-selector {
                        display: flex;
                        margin: 5px 5px 0px 5px;
                        justify-content: center;
                        cursor: pointer;
                    }

                    .icon-selector.disabled {
                        opacity: 0.5;
                        pointer-events: none;
                        cursor: not-allowed;
                    }
                }

                .contain-tablecontent {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    overflow: auto;

                    table {
                        table-layout: auto;
                        width: 100%;
                        border-collapse: collapse;
                        
                        thead .header {
                            background-color: #efefef;

                            th {
                                padding: 8px;
                                text-align: left;
                                border: solid #d5d5d5 thin;
                                white-space: nowrap;
                            }
                        }

                        tbody tr {
                            td {
                                padding: 8px;
                                text-align: left;
                                border: solid #e5e5e5 thin;
                                white-space: nowrap;
                            }
                        }
                    } 
                }
            }
        }
    }
}